 .u-section-1 {
  min-height: 847px;
}

.u-section-1 .u-shape-1 {
  height: 483px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 572px;
  min-height: 423px;
  margin: -423px auto 0 calc(((100% - 1140px) / 2) + 231px);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 21px auto 0 30px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -112px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 247px;
  height: 370px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 400px;
  background-image: url("images/DoYouLetYourKidsListentoExplicitMusic_.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 400px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 255px;
  height: 402px;
  margin: -111px 0 0 auto;
}

.u-section-1 .u-image-4 {
  height: 340px;
  width: 320px;
  margin: -416px auto 60px calc(((100% - 1140px) / 2) + -527px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 777px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 231px);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 15px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-image-1 {
    width: 235px;
    height: 352px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-image-2 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 330px;
  }

  .u-section-1 .u-image-3 {
    width: 235px;
    height: 370px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -371px;
    margin-left: calc(((100% - 940px) / 2) + -527px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 877px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 148px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 4px;
    margin-right: 18px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 506px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 506px;
  }

  .u-section-1 .u-image-2 {
    min-height: 506px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 506px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -1001px;
    margin-left: calc(((100% - 720px) / 2) + -527px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 3407px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
    margin-left: 14px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 759px;
  }

  .u-section-1 .u-image-1 {
    width: 425px;
    height: 545px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 759px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 759px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 759px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -2266px;
    margin-left: calc(((100% - 540px) / 2) + -524px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2283px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 478px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 436px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 478px;
  }

  .u-section-1 .u-image-2 {
    min-height: 478px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 478px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -1423px;
    margin-left: calc(((100% - 340px) / 2) + -524px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 706px;
}

.u-section-2 .u-products-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 723px;
}

.u-section-2 .u-repeater-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 27px 30px;
}

.u-section-2 .u-image-1 {
  height: 301px;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: normal;
  margin: 11px 1px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  margin: 27px auto 0 64px;
}

.u-section-2 .u-repeater-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 27px 30px;
}

.u-section-2 .u-image-2 {
  height: 301px;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  font-weight: normal;
  margin: 11px 1px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  margin: 27px auto 0 64px;
}

.u-section-2 .u-repeater-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 27px 30px;
}

.u-section-2 .u-image-3 {
  height: 301px;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1rem;
  font-weight: normal;
  margin: 11px 1px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  margin: 27px auto 0 64px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-2 .u-products-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 520px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 20px;
    margin-left: 0;
    padding: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-2 .u-text-1 {
    margin-left: 40px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 40px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 506px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -258px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 109px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 506px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 11px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 27px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 506px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 11px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    height: 365px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -34px;
  }

  .u-section-2 .u-image-2 {
    height: 365px;
  }

  .u-section-2 .u-image-3 {
    height: 365px;
  }
}